body  {
  background-image: url("../background.jpg");
  background-color: #cccccc;
  background-size:cover;
  height:100vh;
}
h1 {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  color: white;
}
.txt{
  padding: 50px;
  color: white;
  text-align: center;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.button {
  padding: 20px;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  margin: 20px;
}
