<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <ngb-tabset class="tab-basic">
                <ngb-tab title="Add a new gardener">
                  <ng-template ngbTabContent>
                    <form #addNewGardenerForm='ngForm' (submit)="addNewGardener(addNewGardenerForm)" nonvalidate>
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="text"
                                 placeholder="Name"
                                 id="name"
                                 name="name"
                                 class="form-control"
                                 required
                                 #nameControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="nameControl.touched && nameControl.invalid">
                            Name is required.
                          </div>
                          <input type="text"
                                 placeholder="Username"
                                 id="username"
                                 name="username"
                                 class="form-control"
                                 required
                                 #usernameControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="usernameControl.touched && usernameControl.invalid">
                            Username is required.
                          </div>
                          <input type="password"
                                 placeholder="Password"
                                 id="password"
                                 name="password"
                                 class="form-control"
                                 required
                                 #passwordControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="passwordControl.touched && passwordControl.invalid">
                            Password is required.
                          </div>
                          <label>New team? Leave empty</label>
                          <input type="number"
                                 placeholder="Team id"
                                 id="team"
                                 name="team"
                                 class="form-control"
                                 #teamControl="ngModel"
                                 ngModel>
                        </div>
                        <div class="col-sm">
                          <button class="btn btn-primary" type="submit" [disabled]="addNewGardenerForm.invalid">
                            Add gardener
                          </button>
                        </div>
                      </div>
                    </form>
                    <br>
                    <div onchange="refreshGardeners()" class="form-control" *ngFor="let gardener of allGardeners">
                      {{gardener.id}}: username:{{gardener.username}} name:{{gardener.name}}
                      <button class="pull-right button-group btn-dark" (click)="deleteGardener(gardener)">Delete
                      </button>
                    </div>

                  </ng-template>
                </ngb-tab>
                <ngb-tab title="See Teams">
                  <ng-template ngbTabContent>
                    <div onchange="refreshTeams()" *ngFor="let team of teams">
                      {{team.id}}: <div class="form-control" *ngFor="let gardener of team.gardeners">{{gardener.name}}</div>
                    </div>

                  </ng-template>
                </ngb-tab>

              </ngb-tabset>
            </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
