<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="text-center">
          <h5>
            Generate confidential reports from:
          </h5>
          <div class="form-control">
            All Plants
            <button class="pull-right button-group btn-dark" (click)="generatePlantsPdf()">Generate Pdf</button>
          </div>
          <div class="form-control">
            All Gardeners
            <button class="pull-right button-group btn-dark" (click)="generateGardenersPdf()">Generate Pdf</button>
          </div>
          <div class="form-control">
            All Plots
            <button class="pull-right button-group btn-dark" (click)="generatePlotsPdf()">Generate Pdf</button>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
