<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/a.png" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{username}}</p>
            <div>
              <small class="designation text-muted">Online</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/plants" routerLinkActive="active">
        <i class="menu-icon mdi mdi-leaf"></i>
        <span class="menu-title">Plants</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gardeners" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-card-details"></i>
        <span class="menu-title">Gardeners</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reports" routerLinkActive="active">
        <i class="menu-icon mdi mdi-receipt"></i>
        <span class="menu-title">Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/map" routerLinkActive="active">
        <i class="menu-icon mdi mdi-map"></i>
        <span class="menu-title">Map</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logout" routerLinkActive="active">
        <i class="menu-icon mdi mdi-logout"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>
