<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="text-center">
          <h1><br><br><br><br>
            <<< <br>
            Welcome!<br></h1>
          <h3>Pick your destiny by choosing one option from the left!<br>
          May the fortune be with you!<br>
          Bye for now!<br></h3>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>


