body  {
  height:100vh;
  background-image: url("../background.jpg");
  background-size:cover;
  align-items: center;
  padding: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 20px;
  background: #eee;
  border-radius: 20px;
}
form {
  border: 3px solid #f1f1f1;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

