<body>
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="card-body">
    <p>Log in</p>
    <form title="Log in">
      <div class="form-group">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="form-control"
          [(ngModel)]="username"
          required>
      </div>
      <br>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
          [(ngModel)]="password"
          required>
      </div>
      <br>
      <button type="button" (click)="login(username,password)">Login</button>
    </form>
  </div>
</div>
</body>
