<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div onchange="getMap()" *ngFor="let row of matrix">
                <div class="mat-form-field" *ngFor="let elem of row">{{elem.plotId}} {{elem.gardener}} {{elem.plant}}</div>
              </div>
              <!--<table class="table table-bordered">
                <thead>
                <tr>
                  <th ng-repeat="n in [].constructor(width+1) track by $index">{{$index}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="(row, y) in getPiece(length, width) track by $index">
                  <td>{{row+1}}</td>
                  <td class="text-primary"
                      *ngFor="(col, t) in h.seats track by $index"
                      *ngIf="col >= (row)*width && col < (row+1)*width">
                    <span *ngShow="t.status"> X </span>
                    <span *ngShow="!t.status"> - </span>
                  </td>
                </tr>
                </tbody>
              </table>-->
            </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
