<body>
<h1>
  Garden Management App
</h1>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">\
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="text-center">
          Want to plant new plants? pick from the following
          <form #plantForm='ngForm' (submit)="plantSeed(plantForm)">
            <div class="row">
              <div class="col-sm-4">
                <label for="plantList">Plant Seed</label><select
                  class="form-control"
                  id="plantList"
                  required
                  name="plantList"
                  [(ngModel)]="plantName"
                  #categoryControl="ngModel"
                  ngModel>
                  <option *ngFor="let plant of plants">{{plant}}</option>
                </select>
                <div class="help-block text-danger"
                     *ngIf="categoryControl.touched && categoryControl.invalid">
                  Please select a plant seed.
                </div>
                <div class="help-block text-danger"
                     *ngIf="categoryControl.touched && categoryControl.invalid && categoryControl.value === null">
                  There are no plants.
                </div>
                <input type="number"
                       placeholder="Plot id"
                       id="plot"
                       name="plot"
                       class="form-control"
                       required
                       #plotControl="ngModel"
                       ngModel>
                <div class="help-block text-danger" *ngIf="plotControl.touched && plotControl.invalid">
                  Plot id is required.
                </div>
              </div>
              <div class="col-sm">
                <button class="btn btn-primary" type="submit" [disabled]="plantForm.invalid">
                  Plant it!
                </button>
              </div>
            </div>
          </form>
          <button><a class="nav-link" routerLink="/logout" routerLinkActive="active">
            <i class="menu-icon mdi mdi-logout"></i>
            <span class="menu-title">Logout</span>
          </a></button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
