
h1 {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  color: white;
}

body  {
  height:100vh;
  background-image: url("../background.jpg");
  background-color: #cccccc;
  background-size:cover
}

.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 190px;
}

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 190px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #eee;
  border-radius: 20px;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

button#submit {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.button {
  padding: 20px;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  margin: 20px;
}
