<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <ngb-tabset class="tab-basic">
                <ngb-tab title="Add a new plant">
                  <ng-template ngbTabContent>
                    <form #addNewPlantForm='ngForm' (submit)="addNewPlant(addNewPlantForm)" nonvalidate>
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="text"
                                 placeholder="Name"
                                 id="name"
                                 name="name"
                                 class="form-control"
                                 required
                                 #nameControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="nameControl.touched && nameControl.invalid">
                            Name is required.
                          </div>
                          <input type="text"
                                 placeholder="Type"
                                 id="type"
                                 name="type"
                                 class="form-control"
                                 required
                                 #typeControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="typeControl.touched && typeControl.invalid">
                            Type is required.
                          </div>
                          <input type="number"
                                 placeholder="Size"
                                 id="size"
                                 name="size"
                                 class="form-control"
                                 required
                                 #sizeControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="sizeControl.touched && sizeControl.invalid">
                            Size is required.
                          </div>
                          <input type="text"
                                 placeholder="Amount of water"
                                 id="water"
                                 name="water"
                                 class="form-control"
                                 required
                                 #waterControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="waterControl.touched && waterControl.invalid">
                            Amount of water is required.
                          </div>
                          <input type="text"
                                 placeholder="Watering interval"
                                 id="waterInterval"
                                 name="waterInterval"
                                 class="form-control"
                                 required
                                 #waterIntControl="ngModel"
                                 ngModel>
                          <div class="help-block text-danger" *ngIf="waterIntControl.touched && waterIntControl.invalid">
                            Watering interval is required.
                          </div>
                        </div>
                        <div class="col-sm">
                          <button class="btn btn-primary" type="submit" [disabled]="addNewPlantForm.invalid">
                            Add plant
                          </button>
                        </div>
                      </div>
                    </form>
                    <br>
                    <div onchange="refreshPlants()" class="form-control" *ngFor="let plant of allPlants">
                      {{plant.type}}: {{plant.name}} {{plant.size}}
                      <button class="pull-right button-group btn-dark" (click)="deletePlant(plant)">Delete
                      </button>
                    </div>

                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
